[forecastio]
apikey = a4ef76ec4164f4a0b766e2107a97def5
lat = 32.85557
lng = 35.26424

[setup]
pickle = /home/httpd/html/cgi-bin/sprinkler.pkl

[stations]
1 = טפטפות קדמי??
2 = אחורי
3 = גדר חיה היקפי - קדימה וצפון
4 = כניסה אחורי + גדר ברזילי
5 = כניסה
6 = ממטרות קדימה
7 = 
8 = ממטרות
9 = ממטרות צד אחורי (צפון)

[GPIO]
NumberOfStations = 5
1 = 5
2 = 6
3 = 12
4 = 13
5 = 16
6 = 19
7 = 20
8 = 21
9 = 26
Master = 25

[WateringMinutes]
1 = 1
2 = 30
3 = 20
4 = 20
5 = 20

[RuntimeParams]
gauge = 30.0
precipitation = 0.4	
# defines precipitation amount over which there is no need to water the garden
